{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-3">
        <h1 class="mb-5 text-center">📚 Book Shelf</h1>
    </div>
</div>


<div class="row justify-content-center mb-3">

    <form action="/add" method="POST" class="col-lg-5 shadow-lg p-4 rounded">

        <h3 class="text-center mb-4">Add book</h3>

        <!-- Title -->
        <div class="mb-3 form-group">
            <label class="form-label">Title:</label>
            <input type="text" name="title" class="form-control" autocomplete="off" required>
        </div>

        <!-- Author -->
        <div class="mb-3 form-group">
            <label class="form-label">Author:</label>
            <input type="text" name="author" class="form-control" autocomplete="off" required>
        </div>

        <!-- Category -->
         <div class="mb-3 form-group">
            <label class="form-label">Category:</label>
            <select name="category" class="form-select">
                <option value="" disabled selected>Select category</option>
                <option>Fiction</option>
                <option>Non-Fiction</option>
                <option>Self-Help</option>
                <option>Education</option>
                <option>Biography</option>
                <option>Uncategorized</option>
            </select>
         </div>

         <!-- Status -->
        <div class="mb-3 form-group">
            <label class="form-label">Status:</label>
            <select name="status" class="form-select">
                <option value="" disabled selected>Select status</option>
                <option>Reading</option>
                <option>On hold</option>
                <option>Completed</option>
                <option>plan to read</option>
            </select>
        </div>

        <!-- Add -->
        <button type="submit" class="btn btn-primary">Add</button>

        <!-- Cancel -->
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>


{% endblock %}
