{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-3">
        <h1 class="mb-5 text-center">📚 Book Shelf</h1>
    </div>
</div>


<div class="row justify-content-center mb-3">

    <form action="/edit/{{ book[0] }}" method="POST" class="col-lg-5 shadow-lg p-4 rounded">

        <h3 class="text-center mb-4">Edit book</h3>

        <!-- Title -->
        <div class="mb-3 form-group">
            <label class="form-label">Title:</label>
            <input type="text" name="title" class="form-control" value="{{ book[1] }}" autocomplete="off" required>
        </div>

        <!-- Author -->
        <div class="mb-3 form-group">
            <label class="form-label">Author:</label>
            <input type="text" name="author" class="form-control" value="{{ book[2] }}" autocomplete="off" required>
        </div>

        <!-- Category -->
        <div class="mb-3 form-group">
            <label class="form-label">Category:</label>
            <select name="category" class="form-select">

                {% set categories = ['Fiction', 'Non-Fiction', 'Self-Help', 'Education', 'Biography', 'Uncategorized'] %}
                {% for c in categories %}
                    <option value="{{ c }}" {% if c == book[3] %} selected {% endif %} >{{ c }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Status -->
        <div class="mb-3 form-group">
            <label class="form-label">Status:</label>
            <select name="status" class="form-select">

                {% set status = ['plan to read', 'Reading', 'On hold', 'Completed'] %}
                {% for s in status %}
                    <option value="{{ s }}" {% if s == book[4] %}selected {% endif %}>{{ s }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Update -->
        <button type="submit" class="btn btn-primary">Update</button>

        <!-- Cancel -->
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
        
    </form>
</div>

{% endblock %}
