{% extends 'base.html' %}
{% block content %}
<form method="POST">
    <div class="mb-3">
        <label>Title</label>
        <input type="text" name="title" class="form-control" value="{{ book[1] }}" required>
    </div>
    <div class="mb-3">
        <label>Author</label>
        <input type="text" name="author" class="form-control" value="{{ book[2] }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
